#root {
    font-family: "PT Sans Caption", serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.App-header {
    padding: 40px;
    top: 0;
    font-size: calc(10px + 2vmin);
    background: url('/Dice-PNG-Clipart.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.config{
  /*margin: 5% auto;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5pt;
    border-style: solid;
    border-width: 2px;
    border-radius: 15pt;
    padding: 5pt;

}
.dice.setter{
  display: flex;
  align-items: center;
  gap: 10px;
}

.App-body{
  text-align: center;
  display: flex;
  flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-radius: 15pt;
    padding: 5pt;
}
.App-body.row{
  flex-direction: row;
}

.header.this.turn{
  order:0;
}
.thisturn {
  order: 1;
}
.nextturn.switched {
  order: 1;
}
.button.next{
  margin: 5% ;
  order: 2;
}
.header.next.turn{
  order: 3;
}
.thisturn.switched {
  order: 4;

}
.nextturn{
  order: 4;
}

footer{
    margin-top: 20px;;
    position: relative;
    bottom: 0;
  align-self: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    .App-header {
        color: #e1e1e1;
        -webkit-text-stroke: 1pt #191919;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #d1d1d1;
    }
    .config{
        background-color: #afafaf;
    }
    .App-body {
        background-color: #afafaf;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #e1e1e1;
        background-color: #3a3a3a;
    }
    .App-header {
        color: #e1e1e1;
        -webkit-text-stroke: 2px white;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
    .config{
        background-color: #202020;
    }
    .App-body {
        background-color: #202020;
    }
}
