#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1280px
}

.App-header {
    padding: 60px;
    top: 0;
    background: url('Dice-PNG-Clipart.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.config{
  margin: 5% auto;
}
.dice.setter{
  display: flex;
  align-items: center;
  gap: 10px;
}

.App-body{
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
    padding: 40px;
}
.App-body.row{
  flex-direction: row;
}
.header.this.turn{
  order:0;
}
.thisturn {
  order: 1;
}
.nextturn.switched {
  order: 1;
}

.button.next{
  margin: 5% ;
  order: 2;
}
.header.next.turn{
  order: 3;
}
.thisturn.switched {
  order: 4;


}
.nextturn{
  order: 4;

}


footer{
  align-self: baseline;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #d1d1d1;
    }
    .App-body {
        background-color: #afafaf;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #e1e1e1;
        background-color: #3a3a3a;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
    .App-body {
        background-color: #202020;
    }
}
